@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Montserrat', Arial, sans-serif;
    color:white;
    padding: 0%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

.fondsite{
    position:fixed;
    background-size: cover;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.logo{
    position:fixed;
    z-index: 5;
    width: 15%;
    padding-left: 80px;
    padding-top: 40px;
}

.menu{
    position:fixed;
    display: block;
    width: 21em;
    background-color:rgb(0,0,0,.5) ;
    border-radius: 0px 20px 20px 0;
    margin: 15px;
    margin-left: 0px;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 0;
    top:150px
}
.menu ul{
    list-style-type: none;
}
.menu li{
    margin-bottom: 35px;
    margin-left: -15px;
}

.menu a{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
    color:white;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

.menu a::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    background: white;
    transition:width 0.2s ease-in-out;
}

.menu a:hover::after{
    width:92%;
}

.slidehome{
    display:block;
    float: right;
    position: relative;
    top:560px;
    bottom: 0;
    right: 0;
    width: 60em;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    box-shadow: 10px 10px 20px black;
}
.texthome{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    padding: 30px;
    margin: 50px;
    text-align: justify;
    line-height: 2em;
    border-left:3px solid white;
}
h1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:xx-large;
    letter-spacing: 3px;
    font-weight:lighter;
    color: white;
    text-transform: uppercase;
    border-right: 20px;
    width: 30em;
    padding-left: 50px;

}

h2{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    font-weight:lighter;
    padding-left: 50px;

}

/* FOOTER*/
.coord{
    display:block;
    position:fixed;
    width:50em;
    bottom:20px;
    margin-left: 0;
}

.textecoord{
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    padding-left: 100px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

/* ICONE SCROLL*/
.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%
}

.icon-scroll{
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 0.5%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  background: #fff;
  border-radius: 25px
}

.icon-scroll:before{
  content: '';
  width: 4px;
  height: 8px;
  background: cadetblue;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{opacity: 1;}
  100%{opacity: 0; transform: translateY(20px);}
}

/* PROJET*/

.barreformprojet{
    background-color: white;
    width: 525px;
    height: 2px;
    margin-left: 50px;
    margin-top: -20px;
}

.projet{
    display:block;
    position:fixed;
    bottom: 0;
    right: 0;
    width: 50em;
    height:100%;
    background-color: cadetblue;
}

.texteprojet{
    width:40em;
    text-align: justify;
    margin: auto;
}

.iconehand{
    display: inline-flex;
    width: 5em;
    float: left;
    margin-top: 70px;
    padding: 40px;
    filter:invert(95%);
    -webkit-filter: invert(95%);
    /*opacity:0;*/
}
/*.iconehand.active,.iconeprojet.active,.iconedraw.active{
    transition-property: opacity;
    transition-duration: 1.5s;
    opacity:1;
}*/

.iconeprojet,.iconedraw{
    display: inline-flex;
    width: 4em;
    float: left;
    margin-top: -10px;
    padding: 40px;
    /*opacity:0;*/
    filter:invert(95%);
    -webkit-filter: invert(95%);
}

/* USINE */

.barreformusine{
    background-color: white;
    width: 655px;
    height: 2px;
    margin-left: 50px;
    margin-top: -20px;
}
.usine1{
    width: 50%;
    height: auto;
    margin-top: 20px;
}
/*REALISATIONS*/

.barreformreal{
    background-color: white;
    width: 357px;
    height: 2px;
    margin-left: 50px;
    margin-top: -20px;
}

.grille{

    max-width: 1300px;
    width: 100%;
    height: auto;
    margin : 30 px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap:10px;
}
.grid-item{
    width:300px;
    height:200px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grid-item:hover{
  
    filter: brightness(80%);
}

.photoproduit{

    width: 290px;
    height: auto;
}
